---
const Date = Astro.props.Date;
const Header = Astro.props.Header;
const Description = Astro.props.Description;
const Link = Astro.props.Link;
const Location = Astro.props.Location;
---

<div>
  <a href={Link}>
    <h2>{Header}</h2>
    <h3>{Date} - {Location}</h3></a
  >
  <p>
    {Description}
  </p>
</div>

<style>
  div {
    background-color: var(--white);
    padding: 20px;
    border-radius: 20px;
    transition: var(--transition);
  }

  a {
    text-decoration: none;
  }
  div:hover {
    background-color: var(--blue);
  }
  div:hover h2,
  div:hover p {
    color: var(--white);
  }
  h2,
  p {
    color: var(--black);
  }
  h3 {
    color: var(--orange);
    font-family: Helvetica-Neue-lt-std, sans-serif;
    font-size: 24px;
  }
  h2 {
    font-family: Helvetica-Neue-lt-std, sans-serif;
    text-align: left;
  }
</style>
